.globalnav{
    background-color: #003478;
    justify-content: center;
    text-align: center;
    margin: 0px !important;
}
.list-top{
    /* background-color: lightblue; */
    
}
.list-top ul li a{
    /* display: flex; */
    text-decoration: none;
   
}
.list-top ul li{
    float: left;
    padding-left: 2px;
    /* text-transform: none; */
    list-style-type: none;
}
.label{
    /* background-color: lightcoral; */
    text-align: right;
}
.label a{
    text-decoration: none;
}
.label a:hover{
    color: chocolate !important;
}
.search{
    text-align: left;
}
.header_logo{
    margin-top: 8%;
}
.nav-main{
    margin-left: 0px;
    padding-left: 0px;
}
.has-sub, .homesp{
    /* background-color: greenyellow; */
    border-right:  1px dotted black;
    padding:  0px 10px;
    font-size: 15px; 
    font-weight: bolder;
    margin: 0px auto;
}
.has-sub:hover, .homesp:hover{
    background-color: #003478;
    color: white !important;
}
.nav-sub{
    background-color: #003478;
    color: white !important;
    font-size: 15px;
    
}
.nav-sub a:hover{
    color: #003478 !important;
    background-color: antiquewhite;
}
hr{
    margin: 0px;
}
.main{
    margin: 5%;
    display: flex;
}
.prev-icon{
    background: url(http://cse.tlu.edu.vn/DesktopModules/CMSView/images/a17.png);
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    overflow: hidden;
}
.img{
    border-left: 1px dotted black;
}
.news-grid-left-img h6{
    text-align: center;
    font-size: 16px;
    background-color:rgba(0,0,0,0.5);
    padding: 5px 0px;
    opacity: 0;
    transition: all ease 0.8s;

}
.news-grid-left-img h6 a{
    text-decoration: none;
    color: white;
    
}
.news-grid-left-img h6:hover{
    opacity: 1;
}
.news-grid-left-info{
    padding-top: 5px;
}
.news-grid-left-info h5 a{
    text-decoration: none;
    font-weight: 550;
    font-size: 18px;
}